@model IEnumerable<EQLMS_ICT401.Models.loggedinUserModels>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="backgroundAcc MBV-Maincont-2">
    <div class="Profilepictureholder">
        <img class="ProfilePic" src="~/Images/account.png" />
    </div>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="AccInfos">
                <div class="Gradeinfo">
                    <div class="Username basicinfo">

                        <p class="infotxt usernametxt">@Session["UserName"]</p>


                    </div>
                    <div class="Gradelvl basicinfo">
                        <p class="infotxt Gradelvltxt">Grade <span>@Html.DisplayFor(modelItem => item.ActiveGR)</span></p>
                    </div>
                    <div class="section basicinfo">
                        <p class="infotxt Sectiontxt">Section</p>
                    </div>
                </div>

                <div class="divinfo Emailinfo MBV-divinfo EM">
                    <div class="editinfo"></div>
                    <div class="titleinfo">Email Address</div>
                    <div class="Gmail infohere">@Html.DisplayFor(modelItem => item.ActiveEmail)</div>
                </div>

                <div class="divinfo AddressInfo MBV-divinfo">
                    <div class="editinfo">
                        <img class="editicon" src="~/Images/Accountpage/pencil.png" />
                    </div>
                    <div class="titleinfo">Address</div>
                    <div class="address infohere">@Html.DisplayFor(modelItem => item.ActiveAddress)</div>
                </div>

                <div class="divinfo ContactInfo MBV-divinfo">
                    <div class="editinfo">
                        <img class="editicon" src="~/Images/Accountpage/pencil.png" />
                    </div>
                    <div class="titleinfo">Contact Number</div>
                    <div class="Contact infohere">@Html.DisplayFor(modelItem => item.ActiveCnumber)</div>
                </div>

                <div class="divinfo PContactInfo MBV-divinfo">
                    <!--Studentview-->
                    <div class="editinfo">
                        <img class="editicon" src="~/Images/Accountpage/pencil.png" />
                    </div>
                    <div class="titleinfo">Parent Number</div>
                    <div class="PContact infohere">@Html.DisplayFor(modelItem => item.ActivePCnumber)</div>
                </div>
            </div>

    };
    }
    else
    {
    <h3>There is no Subject assigned to Your Grade level</h3>
    }

    <div class="divinfo ChangePassword PW">
        <img class="passcon" src="~/Images/Accountpage/pencil.png" />
        <div class="titleinfo pass">Password</div>
    </div>

</div>
</div>



